<div class="container-fluid pl-0 pr-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top fixed-top">
    <a class="navbar-brand" routerLink="">Delta Estia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-link">
          <a routerLink="/" class="nav-link">Αρχική</a>
        </li> -->
        <li class="nav-link">
          <a class="nav-link" routerLinkActive="active" [routerLink]="'/'">Ανομολόγητα</a>
        </li>
        <li class="nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="first-yr" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Μαθήματα
          </a>
          <div class="dropdown-menu" aria-labelledby="first-yr">
            <a *ngFor="let sem of semesters$|async" class="dropdown-item" routerLinkActive="active" routerLink="/semester/{{sem.id}}">{{sem.name}}
              <!-- <span class="badge badge-info">{{sem.courses}}</span> -->
            </a>
          </div>
        </li>
        <li class="nav-link">
          <a routerLinkActive="active" class=nav-link routerLink="/useful-links">Χρήσιμα</a>
        </li>
        <li class="nav-link">
          <a routerLinkActive="active" class=nav-link routerLink="/forum">Forum</a>
        </li>
        <li class="nav-link">
            <a routerLinkActive="active" class=nav-link routerLink="/food">Φαγητό</a>
          </li>
        <li *ngIf="isAdmin$|async" class="nav-link">
          <a routerLinkActive="active" class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-link">
          <button (click)="openUserFacingContentForm()" class="btn btn-outline-light">
            Προτείνετε περιεχόμενο
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>