<div class="container-fluid pl-0 pr-0">
  <cs-appbar class="fixed-top sticky-top">
    <a class="navbar-brand">Delta Estia</a>
    <button (click)="openDrawer()" slot="start" class="navbar-toggler h-100 d-flex align-items-center burger-btn">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </cs-appbar>
  <side-drawer #drawer>
    <div class="mx-2">
      <ul class="navbar-nav mr-auto mt-5">
        <!-- <li class="nav-link">
          <a routerLink="/" class="nav-link">Αρχική</a>
        </li> -->
        <li class="nav-link">
          <a class="nav-link" routerLinkActive="active" [routerLink]="'/'">Ανομολόγητα</a>
        </li>
        <li class="nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="first-yr" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Μαθήματα
          </a>
          <div class="dropdown-menu" aria-labelledby="first-yr">
            <a *ngFor="let sem of semesters$|async" class="dropdown-item" routerLinkActive="active" routerLink="/semester/{{sem.id}}">{{sem.name}}
              <!-- <span class="badge badge-info">{{sem.courses}}</span> -->
            </a>
          </div>
        </li>
        <li class="nav-link">
          <a routerLinkActive="active" class=nav-link routerLink="/useful-links">Χρήσιμα</a>
        </li>
        <li class="nav-link">
          <a routerLinkActive="active" class=nav-link routerLink="/forum">Forum</a>
        </li>
        <li class="nav-link">
            <a routerLinkActive="active" class=nav-link routerLink="/food">Φαγητό</a>
          </li>
        <li *ngIf="isAdmin$|async" class="nav-link">
          <a routerLinkActive="active" class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li *ngIf="authState$|async">
          <button class="btn btn-link" (click)="logout()">Αποσύνδεση</button>
        </li>
        <li class="nav-link">
          <button (click)="openUserFacingContentForm()" class="btn btn-outline-primary">
            Προτείνετε περιεχόμενο
          </button>
        </li>
      </ul>
    </div>
  </side-drawer>
  <cs-modal #modal>
    
  </cs-modal>
  <div class="root">
    <router-outlet></router-outlet>
  </div>
</div>