<ngb-tabset>
  <ngb-tab title="Content">
    <ng-template ngbTabContent>
      <app-content-editor></app-content-editor>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Instructors">
    <ng-template ngbTabContent>
      <app-instructors-editor></app-instructors-editor>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Courses">
    <ng-template ngbTabContent>
      <app-course-editor></app-course-editor>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="User Content">
    <ng-template ngbTabContent>
      <app-user-content-dashboard></app-user-content-dashboard>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Tags">
    <ng-template ngbTabContent>
      <app-tags-editor></app-tags-editor>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
