<ion-page class="ion-page">
    <ion-content class="padding">
        <div class="container">
            <!-- <div class="d-flex w-100 justify-content-end">
                <fa-icon (click)="createNewPost()" class="mt-2" [size]="'lg'" style="color: purple;" [icon]="faPlusCircle">
                </fa-icon>
            </div> -->
            <ion-card *ngIf="!hasSentFeedback">
                <ion-card-header>
                    <ion-card-title>Νεα εμφάνιση</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Σας αρέσει η νέα εμφάνιση της εφαρμογής;
                    <ion-input [(ngModel)]="userFeedbackComment" multiple class="my-2" type="text" placeholder="Σχόλια.."></ion-input>
                    <ion-buttons slot="end">
                        <ion-button (click)="onLike(false)">
                            <ion-icon slot="start" name="remove"></ion-icon>
                            Όχι
                        </ion-button>
                        <ion-button (click)="onLike(true)">
                            <ion-icon slot="end" name="add"></ion-icon>
                            Ναι
                        </ion-button>
                    </ion-buttons>
                </ion-card-content>
            </ion-card>
            <app-posts-list></app-posts-list>

        </div>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="createNewPost()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
</ion-page>